html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background: linear-gradient(45deg , #68f395, #e5fdff);
} */

#loading{
    position:fixed;
    width:100%;
    height:100vh;
    animation-duration: 3s;
    background:#fff url('https://i.pinimg.com/originals/78/e8/26/78e826ca1b9351214dfdd5e47f7e2024.gif') no-repeat center;
      z-index: 99999;

  }
.justbelow{
    /* border: 2px solid green; */

    margin-top: 7%;
    font-family: "Bebas Neue", cursive;
}
.startkarna{
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid rgb(177, 124, 26); */
    margin-top: 78px;
}
.container{
    border: 2px solid black;
    display: flex;
    background: #ebf1f8;
    /* height: 650px; */
}
.form-container{
    /* border: 2px solid black; */
    /* background: #a2b1c5; */
    background: #adceea;
    display: flex;
    width: 77%;
    border-radius: 23px;
    height: 700px;
    position: relative;
    margin-left: 161px;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 10px 40px -10px #000;
    
    /* background-image: url('imagesarea/bg2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}
/* .leftcard{
    border: 2px solid blueviolet;
  
}
.rightcard{
    border: 2px solid violet;
    
} */
.formkeafter{
    /* border: 2px solid green; */
    margin-top: 620px;
    width: 199px;
    position: relative;
    margin-left: -281px;
}
.formkeniche{
    /* border: 2px solid green; */
    width: 100%;
    height: 400px;
    margin-top: 28px;
    /* background-image: url('imagesarea/bg1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}
/* .linkwala{
    border: 2px solid orangered;
    width: 88%;
    height: 400px;
} */

.footer {
    /*  border: 2px solid red;*/
      height: 425px;
      font-family: 'Roboto Slab', serif;
      background-color:#1d262d;
      margin-top: -16px;
    }
  
    .las{
      background-color:#1d262d;
     /* border: 2px solid yellow;*/
      margin-top: 123px;
    
      height: 79px;
      
      display: flex;
    }
    .pureright{
      width: 403px;
       /* border: 2px solid red;*/
       
    }
   
    .pureleft{
      width: 875px;
       /* border: 2px solid green;*/
        
    }
    .ult{
      display: flex;
      margin-top: 5px;
      padding: 24px;
      list-style-type: none;
      margin-left: 47px;
    
  }
    
    .ult li a {
        color:#a7aabb;
        padding: 26px;
        text-decoration: none;
        margin-top:50px;
    }
    .ulty{
        display: flex;
        list-style-type: none;
    }
    .ulty li a img{
        filter: invert(100%);
        margin-top: 4px;
        margin-left: 31px;
       
    }
    .ulty li a img:hover{
           opacity: 0.5;
    }
  .content{
     /* border: 2px solid greenyellow;*/
      width: 26%;
      height: 39%;
      margin-top: 28px;
  
  }
  .co{
      list-style-type: none;
  }
  .set{
      
      font-family: "Proxima Nova","Verdana","Avenir Next";
      color: #fff;
      opacity: .85;
      margin: 0 0 10px;
      font-size : 14px;
      font-weight: bold;
      text-transform: uppercase;
     
  }
  .co li a {
      text-align: left;
      text-decoration: none;
      color: #869fb2;
      font-size: 18px;
  }
  .info{
      width: 81%;
  }
  .leg{
      width: 50%;
  }
  .dibba{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      
  }
  .chiz{
     /* border: 2px solid greenyellow;*/
      width: 273px;
      height: 231px;
      line-height: 27px;
      margin-top: 34px;
  }
  .lastsignup{
      color: #fbfbfb;
      background-color: rgb(20 110 199);
      font-weight: 700;
      border-radius: 6px;
      font-family: "Proxima Nova","Verdana","Avenir Next";
      border: 2px;
      border: none;
      width: 111px;
      height: 36px;
  }
  .chiz .co li a:hover{
      color: #fff;
  }
  .lastsignup:hover{
      opacity: 0.9;
  }
    
  .upparfooter{
     /* border: 2px solid red;*/ 
      width: 1343px;
      height: 600px;
  }
  
.lab1,.lab2{
    font-weight: bold;
    font-size: 33px;
    margin-left: 125px;
    margin-top: 17px;
}
.form-control{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
    resize: none;
}

.starterofpage{
    /* border: 2px solid green; */
    display: flex;
    justify-content: flex-end;
}
.leftkaarea{
    /* border: 2px solid orange; */
    font-size: 31px;
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
}
/* .rightkaarea{
    border: 2px solid blueviolet;
} */
.textvstext{
    /* border: 2px solid black; */
    text-align: center;

}

.footerkeupar{
    /* border: 2px solid black; */
    background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    display: flex;
    justify-content: space-evenly;
    height: 107px;
}
.leftfoot{
    /* border: 2px solid green; */
    text-align: center;
    color: #0d48a2;
}
/* .getstarted{
    border: 2px solid orange;
} */
.footerkejustuppar{
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    font-size: 28px;
    height: 124px;
    background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}
.leftfoot h2{
    position: relative;
    margin-top: 26px;
}

.area{
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
}
/* .arleft{
    border: 2px solid blue;
} */
.armiddle{
    /* border: 2px solid green; */
    width: 898px;
    background: #f3f6f9;

}

.cbleft{
    /* border: 2px solid orange; */
    font-family: 'Baloo Bhai 2', cursive;
    display: flex;
    margin-left: 0px;
    font-size: 27px;
    justify-content: space-evenly;
    margin-top: 81px;
    background: #f3f6f9;
}
.hiding{
    display: none;
}
.check1{
   list-style-type: none;
}

.check2{
    list-style-type: none;
}
.typetxt{
    margin-top: 31px;
    font-family: "Bebas Neue", cursive;
}
