*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fbf3ff;
}

.container {
    /* border: 3px solid black; */
    position: absolute;
    max-width: 841px;
    height: 551px;
    margin: auto;
    top: -16%;
    left: 51%;
    transform: translate(-50% ,50%);
}

.myrightctn {
    width: 96%;
    position: relative;
    /* background-image: linear-gradient(45deg,#739e7e,#0c5e8a); */
    border-radius: 25px;
    height: 78%;
    padding: 25px;
    color: rgb(192, 192, 192);
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-content: center;
}

.myleftctn{
    position: relative;
    background: #fff;
    border-radius: 25px;
    margin-left: 35px;
    height: 92%;
    padding: 21px;
    padding-left: 50px;
}
.row{
    height: 100%;
}
.mycard{
    position: relative;
    background: #fff;
    height: 100%;
    border-radius: 25px;
    box-shadow: 0px 10px 40px -10px #000;
}
.myleftctn header{
    font-size: 44px;
}
.lineh{
    border: 2px solid green;
    display: flex;
}
.usernoboder{
    border: none;
    border-bottom: 1px solid black;
}
.newline{
    margin-top: 26px;
    /* border: 2px solid black; */
    display :flex;
}
.leftline{
    width: 79px;
    height: 0px;
    border: 1px solid  #b7c9cc;;
}
.middleline{
    position: relative;
    margin-left: 8px;
    margin-right: 7px;
    margin-top: -14px;
}

.rightline{
    width: 79px;
    height: 0px;
    border: 1px solid  #b7c9cc;;
}

.socialup {
    margin-top: -8px;
}
.insidesocialup{
    display: flex;
    list-style-type: none;
}
