<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exploring the different areas</title>
</head>
<body>
    {% if user.is_authenticated %}
    <li>Hello, {{user.first_name}} </li>
    <li> <a href="accounts/logout"> Logout </a></li>
    {%  else %}
    <a href="accounts/register">Register</a>
    <a href="accounts/login">Login</a>
    {% endif %}
</body>
</html> -->


{%  load static %}
{% load socialaccount %}
{% providers_media_js %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/66625e7f73.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="{% static 'indexkastyle.css'  %}">
     <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap" rel="stylesheet">
    <title> Homepage </title>
  </head>
  <body  onload="myf()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="height: 70px;box-shadow: 0px 10px 40px -19px #000;font-family: 'Baloo Bhai 2', cursive;font-size: 25px;">
      <a class="navbar-brand" style="margin-left: 131px;" href="#">Detect</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="margin-left: 145px;">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="padding-left: 21px;" href="#"> About <span class="sr-only">(current)</span></a>
          </li>               
        </ul>
       

        {% if user.is_authenticated %}
        <div class="arealeft">
            <ul class="navbar-nav mr-auto" style="margin-right: 70px;">
                <li class="nav-item active">
                    <a class="nav-link" style="margin-right: 20px;" href="#" > Hello, {{user.first_name}}  <span class="sr-only">(current)</span></a>
                     
                </li>
              <li class="nav-item active">
                <a class="nav-link" style="margin-right: 259px;" href="accounts/logout" > Logout  <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        {%  else %}
        <div class="arealeft">
          <ul class="navbar-nav mr-auto" style="margin-right: 70px;">
            <li class="nav-item active">
              <a class="nav-link" style="margin-right: 20px;" href="accounts/register" >Register <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" style="margin-right: 259px;" href="accounts/login">Log in <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </nav>

    <div>
      {% for message in messages%}
     <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{message}}.......... </strong> <span></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  </div>     
  <div id="loading">

    
  </div>

    <div class="justbelow">
         
    </div> 
       
    <div class="area">
      <div class="arleft">
         <img src="{% static 'imagesarea/bag2.jpg' %}">
      </div>
      <div class="armiddle">

        <div class="typetxt">
          <h4 id="tt" style="font-size: 42px;">
       
          </h4>
          <p class="cb">
       
          </p>
        </div>
        <div class="cbleft hiding" id="hidden">
          <ul class="check1">
            <li>
              <img src="{% static 'imagesarea/checkicon.jpg' %}">
              &nbsp;&nbsp;&nbsp;&nbsp;
              No Ads
              <br>
              <hr>
            </li>
            <li>
              <img src="{% static 'imagesarea/checkicon.jpg' %}">
              &nbsp;&nbsp;&nbsp;&nbsp;
              Easy To Use
              <br>
              <hr>
            </li>
            <li>
              <img src="{% static 'imagesarea/checkicon.jpg' %}">
              &nbsp;&nbsp;&nbsp;&nbsp;
               Data Safety
               <br>
              <hr>
            </li>
          </ul>
          <ul class="check2">
            <li>
              <img src="{% static 'imagesarea/checkicon.jpg' %}">
              &nbsp;&nbsp;&nbsp;&nbsp;
              Multiple Files Supportive
              <br>
              <hr>
            </li>
            <li>
              <img src="{% static 'imagesarea/checkicon.jpg' %}">
              &nbsp;&nbsp;&nbsp;&nbsp;
              Download Report
              <br>
              <hr>
            </li>
            <li>
              <img src="{% static 'imagesarea/checkicon.jpg' %}">
              &nbsp;&nbsp;&nbsp;&nbsp;
               Share Report
               <br>
              <hr>
            </li>
          </ul>
      
        </div>
      
      </div>
      <!-- <div class="arright">
        left image;.
      </div> -->
    </div>
       <div class="startkarna">
                
       </div>
       <div class="starterofpage">
         <div class="leftkaarea">
             <p>Today, piracy has become a constant issue in educational institutions as students create many assignments using a large amount of research in a small amount of time. Many schools/institutions like Duke University, have bodies like Office of Judicial affair that will go through every case of plagiarism and settle a punishment. Small infractions might result in receiving a zero on that specific assignment, while the significant infringement can even result in expulsion or suspension. Either way, plagiarism is embarrassing for the student and will have his future assignments scrutinized more closely than all other students. Hence, confirming at least once from free plagiarism checker is a safer approach.</p>
         </div>
         <div class="rightkaarea" >
                <img src="{% static 'imagesarea/bag3.jpg' %}" style="width: 430px;">
         </div>
       </div>
      
<br><br><br><br>
<hr>

<div class="textvstext">
    <h3>Input your code as TEXT in the box given below </h3>
</div>
<br>
<div class="fromkacont">     
         <form action="result" method="POST" class="form-container">
          {% csrf_token %}
            <div class="col-md-5">
              <div class="leftcard">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="lab1">INPUT 1</label>
                  <textarea class="form-control" placeholder="Enter your Code 1 here" name="sa" id="exampleFormControlTextarea1" rows="10" 
                  style="height: 476px; margin-top: -4px;margin-left: 18px;"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-5">
            <div class="rightcard">
              <div class="form-group">
                <label for="exampleFormControlTextarea1" class="lab2"> INPUT 2</label>
                <textarea class="form-control"  placeholder="Enter your Code 2 here" name="sb" id="exampleFormControlTextarea2" rows="10" 
                style="height: 476px; margin-top: -4px;margin-left: 18px;"></textarea>
              </div>
            </div>
          </div>
           <div class="formkeafter"><button type="submit" class="btn btn-primary btn-lg" 
           style="position: relative;margin-top: -18px;margin-left: -50px">Check Plagiarism</button></div>
          
           
         </form>
        </div> 
        <br><br><br><br>
         <hr>
         <br><br>
         <br>
         <div class="textvstext">
          <h3>Input your code as FILE in the box given below </h3>
          </div>
            <div class="formkeniche">
            <form action="result" method="POST" class="form-container" style="height: 342px;" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="col-md-5">
                <div class="leftcard" style="margin-left: 122px;margin-top: 66px;" >

                  <div class="form-group">
                    <label for="exampleFormControlFile1" style="font-weight: 500;
                    font-size: 24px;">Code 1 file upload here</label><br>
                    <input type="file" id="file1" name="f1" hidden="hidden">
                         <button type="button" id="b2" class="btn btn-dark">CHOOSE A FILE</button><br>
                         <span id="b2txt" name="i1">No file chosen, yet.</span>
                    
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" name="x1" id="customSwitch1" style="margin-top: 73px;">
                      <label class="custom-control-label"  for="customSwitch1" 
                      style="margin-top: 83px;margin-left: 13px;font-size: 21px;font-weight: 500;">Submit your documents</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
              <div class="rightcard" style="margin-left: 122px;margin-top: 66px;">
                <div class="form-group">
                  <label for="exampleFormControlFile1" style="font-weight: 500;
                  font-size: 24px;">Code 2 file upload here</label><br>
                  <input type="file" id="file2" name="f2" hidden="hidden">
                  <button type="button" id="b3" class="btn btn-dark">CHOOSE A FILE</button><br>
                  <span id="b3txt" name="i2">No file chosen, yet.</span>
                </div>
              </div>
            </div>
             <div class="formkeafter"><button type="submit" class="btn btn-primary btn-lg" 
             style="position: relative;margin-top: -723px;margin-left: -103px">Check Plagiarism</button></div>
            
             
           </form>
                 
              
            </div>
            <br><br>
        <hr>

        <br><br><br>
           
        <div class="textvstext">
          <h3>Input your code as TEXT and a LINK(Gfg's) in the box given below </h3>
          </div>
          <br>
              <div class="fromkacont">     
                <form action="result" method="POST" class="form-container" style="height: 626px;">
                 {% csrf_token %}
                   <div class="col-md-5">
                     <div class="leftcard">
                       <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="lab1">INPUT 1</label>
                         <textarea class="form-control" placeholder="Enter your Code here" name="linkkesathcode" id="exampleFormControlTextarea1" rows="10" style="height: 476px;
                         margin-top: 11px;margin-left: 32px;"></textarea>
                       </div>
                     </div>
                   </div>
                   <div class="col-md-5">
                   <div class="rightcard">
                     <div class="form-group">
                      <label for="exampleFormControlTextarea1" class="lab2">INPUT 2 </label>
                      <input type="url" class="form-control" name="linkname" style="margin-top: 113px;
                      height: 92px;" placeholder="Enter the Link here">
                     </div>
                   </div>
                 </div>
                  <div class="formkeafter"><button type="submit" class="btn btn-primary btn-lg"
                   style="position: relative;margin-top: -335px;margin-left: -143px;">Check Plagiarism</button></div>
                 
                  
                </form>
               </div> 
             <br><br><br>
             <hr>
             <br><br><br><br>


           
         <div class="footerkeupar">
            <div class="leftfoot">
              <h2>Try us today......</h2>
            </div>
            <div class="getstarted">
              <button type="button" class="btn btn-dark btn-lg" style="width: 289px;margin-top: 29px;">GET STARTED</button>
            </div>
         </div>
         <div class="footerkejustuppar">
           <p> Ready to stop wasting time with that old school "plagiarism checker" from the 90's,
             <br> Start using us today for
            free...</p>
         </div>

      
 
     <div class="footer">
      
        <div class="dibba">
            <div class="chiz">
             <ul class="co">
                 <li class="set">
                     Content
                 </li>
                 <li><a href="#content">New resources</a></li>
                 <li><a href="#conten">The most popular content</a></li>
                 <li><a href="#conte">Search trends</a></li>
                 <li><a href="#con">Blogs</a></li>
             </ul>
            </div>
            <div class="chiz">
             <ul class="co">
                 <li class="set">
                     information
                 </li>
                 <li><a href="#content">Plans & pricing</a></li>
                 <li><a href="#conten">Affiliate</a></li>
                 <li><a href="#conte">About us</a></li>
                 <li><a href="#con">Jobs</a></li>
                 <li><a href="#con">Become a contributor</a></li>
             </ul>
            </div>
            <div class="chiz">
 
             <ul class="co">
                 <li class="set">
                     Legal
                 </li>
                 <li><a href="#content">Terms & conditions</a></li>
                 <li><a href="#conten">License Agreement</a></li>
                 <li><a href="#conte">Privacy policy </a></li>
                 <li><a href="#con">Copyright information</a></li>
                 <li><a href="#con">Cookies policy  </a></li>
                 <li><a href="#con">Cookies settings  </a></li>
             </ul>
            </div>
            <div class="chiz">
             <ul class="co">     
             <li class="set">
                 help
             </li>
             <li><a href="#content">Support</a></li>
             <li><a href="#conten"> Contact us </a></li>
               <br><br>
 
             <li style="  text-align: left; text-decoration: none; color: #869fb2; font-size: 17px;">
                 Get exclusive resources straight to your inbox</li>
                 
                 <button class="lastsignup">
                     SIGN UP
                 </button>
         </ul>
            </div>
            
        </div>
       
 
 
        <div class="las">
             
         <div class="pureleft">
           <ul class="ult">
               <li><a href="#">Get the Mobile App Now</a></li>
               <li><a href="#">Privacy Policy</a></li>
               <li><a href="#">Copyright @ Yash Anand</a></li>
           </ul>
             
         </div>
 
         <div class="pureright">
            <ul class="ulty">
                <li><a href="#"><img src="{% static 'imagesarea/facebook.png' %}" style="width: 36px;height: 36px;"></a></li>
                <li><a href="#"><img src="{% static 'imagesarea/instagram.png' %}" style="width: 36px;height: 36px;"></a></li>
                <li><a href="#"><img src="{% static 'imagesarea/whatsapp.png' %}" style="width: 36px;height: 36px;"></a></li>
                <li><a href="#"><img src="{% static 'imagesarea/twitter.png' %}" style="width: 36px;height: 36px;"></a></li>
            </ul>
         </div>
     </div>
   </div> 
            
    
      
      
        <!-- Optional JavaScript; choose one of the two! -->
    
        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
        <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
        -->


      </div>
      <script type="text/javascript">

        var preloader=document.getElementById('loading');
        function myf(){
        preloader.style.animationDuration = "10s";
        preloader.style.display= 'none';
       }


      var i = 0;
      var txt = " A plagiarism checking website for your tests.Welcome to DETECT !!"; /* The text */
      var speed = 100; /* The speed/duration of the effect in milliseconds */

      window.setInterval( function typeWriter() {

       if (i < txt.length) {
        document.getElementById("tt").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
      }

      } ,1000);
       

      setTimeout(function(){
         document.getElementById('hidden').classList.remove('hiding');
       }, 5000);

      // This was to convert the file upload tag to single button.
       const realFileBtn = document.getElementById("file1");
       const customBtn = document.getElementById("b2");
       const customTxt = document.getElementById("b2txt");
       const realFileBtn2 = document.getElementById("file2");
       const customBtn2 = document.getElementById("b3");
       const customTxt2 = document.getElementById("b3txt");

    customBtn.addEventListener("click", function () {
      realFileBtn.click();
    });

    realFileBtn.addEventListener("change", function () {
      if (realFileBtn.value) {
        customTxt.innerHTML = realFileBtn.value.match(
          /[\/\\]([\w\d\s\.\-\(\)]+)$/
        )[1];
      } else {
        customTxt.innerHTML = "No file chosen, yet.";
      }
    });


    customBtn2.addEventListener("click", function () {
      realFileBtn2.click();
    });

    realFileBtn2.addEventListener("change", function () {
      if (realFileBtn2.value) {
        customTxt2.innerHTML = realFileBtn2.value.match(
          /[\/\\]([\w\d\s\.\-\(\)]+)$/
        )[1];
      } else {
        customTxt2.innerHTML = "No file chosen, yet.";
      }
    });
       </script>
    
  </body>
</html>


<!-- 
{% if user.is_authenticated %}
<li>Hello, {{user.first_name}} </li>
<li> <a href="accounts/logout"> Logout </a></li>
{%  else %}
<a href="accounts/register">Register</a>
<a href="accounts/login">Login</a>
{% endif %}
    -->

    <!-- <form class="form-container">
      <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form> -->